{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Welcome to Couchbase {% endblock %}</h1>




<form action="/query_custom" target="_blank">
    
  <input type="text" id="myquery" class="form-control" name="myquery" placeholder="Enter Query"> 
  <input type="submit" value="Run custom query" class="btn btn-primary">
</form>

<br>

<form action="/starting_page" target="_blank">

  <input type="text" id="current_user" class="form-control" name="current_user" placeholder="Current User">
  <input type="submit" value="Build Starting Page for User ID" class="btn btn-primary">
</form>

<br>

<form action="/contains_word" target="_blank">
    
  <input type="text" id="words" class="form-control" name="words" placeholder="Word1 Word2 Word3 ..."> 
  <input type="submit" value="Search for Tweets containing words" class="btn btn-primary">
</form>

<br>

<form action="/query_top_100" target="_blank">
  <input type="submit" value="Get top 100 Accounts" class="btn btn-primary">
</form>

<br>


<form action="/followers" target="_blank">
  <input type="submit" value="Most Followers" class="btn btn-primary">
</form>

<br>

<form action="/create_post" target="_blank">
    
  <input type="text" id="user_post" class="form-control" name="user_post" placeholder="User ID"> 
  <input type="submit" value="create post" class="btn btn-primary">
</form>

<br>


<form action="/upload" target="_blank">
  <input type="submit" value="Import CSV with Tweets Data" class="btn btn-primary">
</form>

<br>

<form action="/upload_con" target="_blank">
  <input type="submit" value="Import accounts" class="btn btn-primary" >
</form>

<br>

<form action="/upload_account_new" target="_blank">
  <input type="submit" value="Import accounts new" class="btn btn-primary">
</form>

<br>

<form action="/create_index" target="_blank">
  <input type="submit" value="create index" class="btn btn-danger">
</form>

{% endblock %}